<!DOCTYPE html>
	<html>
		<head>

			<title>Amita</title>

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

			<link rel="stylesheet" href="main.css"	
		

		<body>
			<nav class="navbar navbar-default mainnavbar">
			  <div class="container-fluid">
			    <div class="navbar-header">
			    	<a class="navbar-brand-Amita" href="/">Amita Patel Greer</a>
			    	<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
			    </div>

			    	<ul class=" nana nav navbar-nav navbar-right">
				      <li class=""><a href="/about">About</a></li>
				      <li class=""><a href="/blog">Blog</a></li>
				      <li class=""><a href="/skills">Skills</a></li>
				      <li class=""><a href="/portfolio">Portfolio</a></li> 
			    	</ul>
			  	</div>
			</nav>

			<div class="jumbotron tron-color">
				<div class="container">
					<div class="col-md-8 col-md-offset-4">
						<h3 class="inspiration">< Inspiration + Technology ></h3>
							<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

					</div>	
				</div>
			</div>

			<div class="container-form">
				<form action="" method="POST" class="form-inline" role="form">
					<div class="row">
						<div align="center" class="form-group techtips">
							
							<h1>Tech Tips + Inspiration. For Free.</h1>
							
						</div>
							
							<label class="sr-only" for=""></label>
							<input type="email" class="form-control  input-mysize" id="" placeholder="Name">
								
							<label class="sr-only input-mysize" for=""></label>
							<input type="email" class="form-control  input-mysize" id="" placeholder="E-mail">
						
							<button type="submit" class="btn btn-primary mybtn">Subscribe</button>
					</div>
				</form>
			</div>

				



		</body>
	</html>