 <!DOCTYPE html>
	<html>
		<head>
<%- include ./partials/header.ejs %>	

		<body>
			

			<div class='container-fluid'>
				<div class="row">
						<div class="hover col-lg-6 col-md-6 col-xs-6 egg1"><h1 class="bp1">Blog Post 1</h1></div>
						<div class="hover col-lg-6 col-md-6 col-xs-6 block2"><h1 class="bp1">Blog Post 2</h1></div>
			</div>
			
							
			<div class='container-fluid'
				<div class="row">
					<div class="hover col-lg-4 col-md-4 col-xs-4 block3"><h1 class="bp1">Blog Post 3</h1></div>
					<div class="hover col-lg-4 col-md-4 col-xs-4 block4"><h1 class="bp1">Blog Post 4</h1></div>
					<div class="hover col-lg-4 col-md-4 col-xs-4 block5"><h1 class="bp1">Blog Post 5</h1></div>
			</div>
							



		</body>
	</html>