
<%- include ./partials/header.ejs %>	

		


<div class="jumbotron socialtron">
	<div class="container">
	
	<form action="" method="POST" role="form" class="pull-left">
		<legend><h1>Enter Key Term for Search</h1></legend>
	
		<div class="form-group">
			<label for=""></label>
			<input type="text" class="form-control keyword-social" id="" placeholder="Keyword">
		</div>
	
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	</div>
</div>

<div id="twitter-app"></div>		



			<script src="https://code.jquery.com/jquery-2.2.0.js"></script>

			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

			<script type="text/jsx" src="twitterbox.js"></script>
			<script type="text/jsx" src="twittercard.js"></script>
			<script type="text/jsx" src="twittersearchbar.js"></script>
			<script type="text/jsx" src="twitterapp.js"></script>
			<script src="https://fb.me/react-0.13.3.js"></script>
			<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
		</body>


	</html>